<!-- 
<h1>parent</h1>
parent component :<input class="border-2" type="text" #Pcomponent (keyup)="0"> -->


<!-- // Child to Parent Transfar Start => (childEvent)="getdata($event)-->

<!-- <app-login [PData]="Pcomponent.value" (childEvent)="getdata($event)"></app-login>  -->



<!-- <div class="app-login"></div> -->
<!-- <div app-login></div> -->

<!-- Child Value : {{Cdata}} -->

<!-- // Child to Parent Transfar End -->



<!-- @if @else @elseif -->
<!-- @if(true){
    <div>
        IF
   </div>
} -->
<!-- @if(loginIn){
    <div>My IF ELSE</div>
} -->
<!-- <div class="flex gap-5 justify-center">
    <button (click)="login()" class="">Login</button>
    <button (click)="logout()">LogOut</button>
</div>



@if(loginIn){
    <div>My IF ELSE</div>
}

<div class="flex gap-5 justify-center">
    <input type="radio" name="rad" checked (click)="onchange(true)"> Male
    <input type="radio" name="rad" checked  (click)="onchange(false)"> Female
</div>
@if (isValid) {
    <div>
        Male
    </div>
}
@else {
    <div>
        Female
    </div>
}
 -->


<!-- <app-login [PData]="Pcomponent.value" (childEvent)="Cdata=$event"></app-login> 

<app-employe></app-employe>

<br>
<app-twoway></app-twoway>
<app-pipes></app-pipes>
<app-chaining-parame></app-chaining-parame> -->
<app-navbar></app-navbar>
<router-outlet></router-outlet>